[submodule "components/bme280"]
	path = components/bme280
	url = https://github.com/BoschSensortec/BME280_driver.git
[submodule "components/lmic"]
	path = components/lmic
	url = https://github.com/mcci-catena/arduino-lmic.git
[submodule "components/cayenne-lpp"]
	path = components/cayenne-lpp
	url = https://github.com/aabadie/cayenne-lpp.git
