menu "LoRa Sensor Configuration"
	
	choice SENSOR_TYPE
        prompt "Internal sensor type"      
        default SENSOR_TYPE_DHT10

        config SENSOR_TYPE_DHT10
            bool "DHT10"
        config SENSOR_TYPE_DHT22
            bool "DHT22"
    endchoice

	choice SENSOR_PROFILE
        prompt "Internal sensor type"      
        default SENSOR_PROFILE_DEFALUT

        config SENSOR_PROFILE_DEFALUT
            bool "Default"
            help
                 Measure temperature and humdity trought internal sensor
        config SENSOR_PROFILE_SOIL_MOSTURE
            bool "Soil mostuire"
            help
                 Measure soil moisture
    endchoice

endmenu